{% extends 'base.html' %}

<!-- Styles block -->
{% block styles %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Viewer Hours</th>
        <th scope="col">Hours Streamed</th>
        <th scope="col">ACV</th>
        <th scope="col">Creators</th>
        <th scope="col">Streams</th>
      </tr>
    </thead>

    {% for game in games.items %}
      <tbody>
        <tr class="list-color">
          <th scope="row">{{ loop.index }}</th>
          <td>{{game.name}}</td>
          <td>{{game.viewer_hour}}</td>
          <td>{{game.hours_streamed}}</td>
          <td>{{game.acv_num}}</td>
          <td>{{game.creators}}</td>
          <td>{{game.streams_num}}</td>
        </tr>
      </tbody>
    {% endfor %}

   </table>

   <!-- Pagination Links-->
   <div class="text-center">
       <a href="{{ url_for('index', page=games.prev_num) }}"
          class="btn btn-outline-dark
          {% if games.page == 1 %}disabled{% endif %}">
           &laquo;
       </a>
   <!-- Loop through the number of pages to display a link for each-->
       {% for page_num in games.iter_pages(left_edge=1, right_edge=1,
         left_current=1, right_current=2) %}
       {% if page_num %}
   <!-- Check for the active page and set the link to "Active"-->
             {% if games.page == page_num %}
               <a href="{{ url_for('index', page=page_num) }}" class="btn btn-dark"> {{ page_num }} </a>
             {% else %}
               <a href="{{ url_for('index', page=page_num) }}" class="btn btn-outline-dark"> {{ page_num }}  </a>
               {% endif %}
           {% else %}
               ...
         {% endif %}
       {% endfor %}
        <a href="{{ url_for('index', page=games.next_num) }}"  class="btn btn-outline-dark
          {% if games.page == games.pages %} disabled {% endif %}">
           &raquo;
       </a>
   </div>

   <p class="text-center mt-3">
      Showing page {{ games.page }} of {{ games.pages }}
   </p>

</div>
{% endblock %}
